@media (max-width: 800px) {
	#SphinxLogo {
		height: 77%;
	}
	
	.images {
		width: 100%;
		height: auto;
	}
	
	#ScreenshotsPanelGallery {
		padding-top: 3%;
	}
	
	.Videos {
		width: 100%;
	}
	
	.column {
		width: 50%;
	}
	
	.StyleContainers {
		width: 85%;
	}
}

@media (max-width: 600px) {
	#SphinxLogo {
		width: 70%;
	}
	
	.column {
		height: 100%;
	}
	
	.Videos {
		height: 100%;
	}
	
	.StyleContainers {
		width: 95%;
	}
	
	#ScreenshotsPanelGallery {
		padding-top: 5%;
	}
}