body {
	background-color: #2c2021;
	margin: 0;
}

h1 {
	font-family: CaligulaDodgyMummy;
	src: url('fonts/CaligulaDodgyMummy.ttf') format('truetype'); 
	font-size: 23px;
	color: #BBA225;
}

h2 {
	font-family: CaligulaDodgyMummy;
	src: url('fonts/CaligulaDodgyMummy.ttf') format('truetype'); 
	font-size: 18px;
	color: #A66C2A;
}

a:link {
	color: #BF7F3F;
	text-decoration: none;
}

a:visited {
	color: #885B2E;
}

a:hover {
	color: #E8933F;
}

ul {
	list-style: none;
	color: white;
}

ul li::before {
	content: "\2022";
	color: #BBA225;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

p {
	color: white;
}

#SphinxLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.StyleContainers {
	width: 70%;
	margin: auto;
	background-color: #3E2C2D;
	border: 1px solid #564d4d;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 17px;
	line-height: 26px;
	padding: 20px 50px 50px 50px;
}

.Buttons{
	background-color: #a07136;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.Buttons:hover {
	background-color: #775428
}

.Buttons:active {
	background-color: #593f1f;
	transform: translateY(1px);
}

.TutorialBox{
	margin-top: 3%;
}

#CodeBox {
	border: 1px solid #564d4d;
	padding: 7px 20px 7px 20px;
	background-color: #251718;
    overflow-x: auto;
    white-space: nowrap;
	font-style: oblique;
	margin-bottom: 4%;
}

#PaddingStandard {
	margin-top: 2%;
}

#TutorialImages {
	clear: inline-end;
}

#footer {
	text-align: center;
}

.images {
	height: 8%;
}

.accordion {
	background-color: #211817;
	color: #444;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	border: 1px solid #564d4d;
}

.active, .accordion:hover {
	background-color: #4a3634; 
}

.accordionChangelogs {
	background-color: #211817;
	color: #444;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
	border: 1px solid #564d4d;
}

.active, .accordionChangelogs:hover {
	background-color: #4a3634; 
}

.panel {
	padding: 0 18px;
	padding-bottom: 10px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.bold {
	font-weight: bold;
	color: #e6e6e6;
}

* {
	box-sizing: border-box;
}

.row > .column {
	padding: 0 8px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 25%;
}

.Gallery {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

.Gallery-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.SliderImages {
	display: none;
}

.cursor {
	cursor: pointer;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

img {
	margin-bottom: -4px;
}

.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#TitleGallery {
	margin-top: 3%;
}

#ScreenshotsPanelGallery {
	padding-top: 2%;
}

.Videos {
  float: left;
  width: 50%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}

#Trailers:after {
  content: "";
  display: table;
  clear: both;
}